@page "/consultaProducto"
@inject ProductosBLL productosBLL;

<EditForm Model="lista">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            <h1>Consulta de productos</h1>
        </div>
            <div class="card-body">
                <div class="row">
                <div class="col-2">
                    <label>Criterio</label>
                    <input type="text" class="form-control" @bind="Criterio" />
                </div>
                <div class="col-2">
                    <label class="form-label">Filtro</label>
                    <select class="form-control" @bind="Filtro">
                        <option value="1">ProductoId</option>
                        <option value="2">Descripcion</option>
                        <option value="3">Costo</option>
                        <option value="4">Precio</option>
                        <option value="5">Existencia</option>
                        <option value="6">Todos</option>
                    </select>
                </div>
                <div class="col-3 d-flex align-items-end">
                    <button class="btn btn-group-sm" type="button" @onclick="Buscar">
                        <i class="oi oi-magnifying-glass" /> Buscar
                    </button>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>ProductoId</th>
                    <th>Descripcion</th>
                    <th>Costo</th>
                    <th>Precio</th>
                    <th>Existencia</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in lista)
                {
                    <tr>
                        <td>@item.ProductoId</td>
                        <td>@item.Descripcion</td>
                        <td>@item.Costo</td>
                        <td>@item.Precio</td>
                        <td>@item.Existencia</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</EditForm>

@code
{
    public string Criterio { get; set; } = "";
    public string Filtro { get; set; } = "";
    public List<Productos> lista { get; set; } = new List<Productos>();

    protected override void OnInitialized()
    {
        Buscar();
    }

    public void Buscar()
    {
        switch (Filtro)
        {
            case "1":
                lista = productosBLL.GetList(o => o.ProductoId.ToString() == Criterio.ToLower()); break;
            case "2":
                lista = productosBLL.GetList(o => o.Descripcion!.ToLower() == Criterio.ToLower()); break;
            case "3":
                lista = productosBLL.GetList(o => o.Costo!.ToString() == Criterio.ToLower()); break;
            case "4":
                lista = productosBLL.GetList(o => o.Precio!.ToString() == Criterio.ToLower()); break;
            case "5":
                lista = productosBLL.GetList(o => o.Existencia!.ToString() == Criterio.ToLower()); break;
            default:
                lista = productosBLL.GetList(o => true); break;
        }
    }
}