@page "/paquete"
@page "/paquete/{paqueteId:int}"

<PageTitle>Paquete</PageTitle>

@inject PaqueteBLL paqueteBLL
@inject ProductosBLL productoBLL
@inject NotificationService notificationService

<EditForm Model="paquete" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            <h1> Registo de paquete</h1>
        </div>

        <div class="card-body">
            @*PaqueteId*@
            <div class="form-group">
                <label>PaqueteId: </label><br>
                <InputNumber @bind-Value="paquete.PaqueteId" class="form-control" /> <br>
                <button type="button" class="btn btn-primary input-group-text" @onclick="Buscar"><i
                        class="oi oi-magnifying-glass" /> Buscar</button>
            </div>

            @*Descripcion*@
            <div class="form-group">
                <label>Descripcion: </label><br>
                <InputText @bind-Value="paquete.Descripcion" class="form-control" />
                <ValidationMessage For="@(() => paquete.Descripcion)" />
            </div>

            @*Fecha*@
            <div class="form-group">
                <label>Fecha: </label><br>
                <InputDate @bind-Value="paquete.Fecha" class="form-control" />
                <ValidationMessage For="@(() => paquete.Fecha)" />
            </div>


            @*--- Pago detalle ---*@
            <div class="card">
                <div class="card-header">
                    <h1>Detalle</h1>
                </div>

                @*ProductoId*@
                <div class="form-group">
                    <label>Producto: </label><br>
                    <InputSelect class="form-select" @bind-Value="detalle.ProductoId">
                        @foreach (Productos item in productoBLL.GetList(o => true))

                        {
                            <option value="@item.ProductoId">@item.Descripcion</option>
                        }
                    </InputSelect>
                </div>

                @*Cantidad*@
                <div class="form-group">
                    <label>Cantidad: </label><br>
                    <InputNumber @bind-Value="detalle.CantidadPaquete" class="form-control" />
                    <ValidationMessage For="@(() => detalle.CantidadPaquete)" />
                </div>

                @*Boton*@
                <div class="card-footer">
                    <div class="form-group text-center" display: inline-block>
                        <button type="button" class="btn btn-lg btn-primary" @onclick="AgregarDetalle"><i
                                class="oi oi-file" /> Agregar </button>
                    </div>
                </div>

                @*Tabla*@
                <div class="container">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>ProductoId</th>
                                <th>Descripcion</th>
                                <th>CantidadPaquetes</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in paquete.DetallePaquetes)

                            {
                                <tr>
                                    <td>@item.ProductoId</td>
                                    <td>@productoBLL.Buscar(item.ProductoId).Descripcion</td>
                                    <td>@item.CantidadPaquete</td>
                                    <td> <button class="btn btn-danger mr-2" onclick=@(() =>
                                        EliminarDetalle(item.DetallePaqueteId))>
                                            <i class="oi oi-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="form-group text-center" display: inline-block>
                <button type="button" class="btn btn-lg btn-primary" @onclick="Nuevo"><i class="oi oi-file" /> Nuevo
                </button>
                <button class="btn btn-lg btn-success"><i class="oi oi-document" /> Guardar </button>
                <button type="button" class="btn btn-lg btn-danger" @onclick="Eliminar"><i class="oi oi-trash" />
                    Eliminar </button>
            </div>
        </div>
    </div>


</EditForm>

@code {
    [Parameter]

    public int PaqueteId { get; set; }

    public Paquete paquete { get; set; } = new Paquete();



    public Productos producto { get; set; } = new Productos();

    public DetallePaquetes detalle { get; set; } = new DetallePaquetes();



    public double total { get; set; } = 0;





    protected override void OnInitialized()

    {

        if (PaqueteId > 0)

        {



            this.paquete.PaqueteId = PaqueteId;

            this.Buscar();

        }

    }



    public void Nuevo()

    {

        paquete = new Paquete();

    }



    bool Validar()

    {

        if (!String.IsNullOrEmpty(paquete.Descripcion))

        {

            return true;

        }



        return false;

    }





    void Guardar()

    {

        System.Console.WriteLine("holaaaa estoy validando");

        paqueteBLL.Guardar(this.paquete);

        System.Console.WriteLine("ya guarde");

        this.Nuevo();

    }



    private void Buscar()

    {

        if (paquete.PaqueteId > 0)

        {

            var encontrado = paqueteBLL.Buscar(paquete.PaqueteId);



            if (encontrado != null)

                this.paquete = encontrado;



        }

    }



    public void Eliminar()

    {

        if (paquete.PaqueteId > 0)

        {

            if (paqueteBLL.Eliminar(paquete.PaqueteId))

            {

                ShowNotification(

                new NotificationMessage

                    {

                        Severity = NotificationSeverity.Info,

                        Summary = "Se ha eliminado con exito."

                    }

                );

                Nuevo();

            }

        }

        else

        {

            ShowNotification(

            new NotificationMessage

                {

                    Severity = NotificationSeverity.Error,

                    Summary = "No hay elemento para borrar."

                }

            );

            return;

        }

    }



    void AgregarDetalle()

    {

        if (detalle.CantidadPaquete > 0 && detalle?.ProductoId != null)

        {

            paquete.DetallePaquetes.Add(this.detalle);

            detalle = new DetallePaquetes();

        }

        else

        {

            return;

        }

    }



    void EliminarDetalle(int detalleId)

    {

        if (paquete.DetallePaquetes != null && detalleId > 0)
        {

            paquete.DetallePaquetes.RemoveAll(o => o.DetallePaqueteId == detalleId);

            ShowNotification(

            new NotificationMessage

                {

                    Severity = NotificationSeverity.Info,

                    Summary = "Se ha eliminado con exito."

                }

            );

        }

    }



    void ShowNotification(NotificationMessage message)

    {

        notificationService.Notify(message);



    }
}